body{
	text-align: center;
	background-color: #D2D2D2;
}

#newTweets{
	background-color: #433E90;
	border-radius: 5px;
	height: 3em;
	width: 9em;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.75em;
	cursor: pointer;
	border-color: #433E90;
	color: white;
	margin-bottom: 1.5em;
	margin-top: 1em;
}

.tweetEntry {
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 0.3em;
}

.username{
	color: #326ADA;
	text-decoration: underline;
	cursor: pointer;
}

.tweets {
	border: 2px solid #A19C9C;
	border-radius: 7px;
	border-width: 1em;
	background-color: #E8E8E8;
}